.profile-view {
    .card {
      margin-bottom: 20px;
    }
  
    .favorite-movies {
      .movie-card {
        margin-bottom: 15px;
      }
  
      .remove-button {
        margin-top: 10px;
      }
    }
  }